JIMMS_FE_BASE_URL=http://jimms-fe-performance-jimms-v2.apps.ocdev.jasamarga.co.id
JIMMS_API_BASE_URL=https://api-gateway.jasamarga.co.id/dev/jimms-pavement/api
JIMMS_API_KEY=
JIMMS_ACCESS_TOKEN=
JIMMS_USERNAME=
JIMMS_PASSWORD=

JIMMS_REGULAR_INSPECTION_STATUS_ID=27
JIMMS_LIST_PAGE=1
JIMMS_LIST_PER_PAGE=5
JIMMS_DOWNLOAD_INSPECTION_IDS=
JIMMS_DOWNLOAD_DIRECT_URLS=
JIMMS_DOWNLOAD_JOB_IDS=
JIMMS_DOWNLOAD_ROW_STRATEGY=rotate

JIMMS_DOWNLOAD_ARCHIVE_SCENARIOS=all,preparation,administration,inspection,documentation,stripmap,maintenance
JIMMS_DOWNLOAD_RANDOMIZE_SCENARIO=false
JIMMS_DOWNLOAD_FLOW_MODE=real-user
JIMMS_EXPORT_TIMEOUT=120s
JIMMS_PREPARE_DOWNLOAD_BEFORE_RUN=false
JIMMS_DOWNLOAD_PREPARE_JOBS=1
JIMMS_DOWNLOAD_RESPONSE_TYPE=binary
JIMMS_DOWNLOAD_FILE_TIMEOUT=120s
JIMMS_DOWNLOAD_PROGRESS_TIMEOUT=10s
JIMMS_DOWNLOAD_ALLOW_POLL_FALLBACK=false
JIMMS_DOWNLOAD_FILE_POLL_ATTEMPTS=60
JIMMS_DOWNLOAD_FILE_POLL_INTERVAL_SECONDS=2
JIMMS_SETUP_TIMEOUT=5m
JIMMS_INSECURE_SKIP_TLS_VERIFY=false

K6_REPORT_DIR=./test-results/reports/k6

JIMMS_SMOKE_EXECUTOR=shared-iterations
JIMMS_SMOKE_VUS=1
JIMMS_SMOKE_ITERATIONS=1
JIMMS_SMOKE_MAX_DURATION=3m
JIMMS_SMOKE_THINK_TIME_SECONDS=0

JIMMS_EXECUTOR=shared-iterations
JIMMS_TARGET_VUS=5
JIMMS_VUS=5
JIMMS_ITERATIONS=20
JIMMS_DURATION=2m
JIMMS_MAX_DURATION=20m
JIMMS_RAMP_UP=30s
JIMMS_HOLD=2m
JIMMS_RAMP_DOWN=30s
JIMMS_GRACEFUL_RAMP_DOWN=30s
JIMMS_THINK_TIME_SECONDS=1

JIMMS_ALLOW_STRESS=false
JIMMS_STRESS_EXECUTOR=ramping-vus
JIMMS_STRESS_TARGET_VUS=10
JIMMS_STRESS_VUS=10
JIMMS_STRESS_ITERATIONS=50
JIMMS_STRESS_DURATION=5m
JIMMS_STRESS_MAX_DURATION=30m
JIMMS_STRESS_RAMP_UP=30s
JIMMS_STRESS_HOLD_125=1m
JIMMS_STRESS_HOLD_150=1m
JIMMS_STRESS_RAMP_DOWN=30s
JIMMS_STRESS_GRACEFUL_RAMP_DOWN=30s
JIMMS_STRESS_THINK_TIME_SECONDS=1

JIMMS_CHECK_RATE=0.95
JIMMS_HTTP_ERROR_RATE=0.01
JIMMS_P95_THRESHOLD_MS=120000
JIMMS_P99_THRESHOLD_MS=120000
JIMMS_PER_ENDPOINT_P95_THRESHOLD_MS=120000

JIMMS_LOAD_CHECK_RATE=0.95
JIMMS_LOAD_HTTP_ERROR_RATE=0.01
JIMMS_LOAD_P95_THRESHOLD_MS=120000
JIMMS_LOAD_P99_THRESHOLD_MS=120000
JIMMS_LOAD_PER_ENDPOINT_P95_THRESHOLD_MS=120000

JIMMS_STRESS_CHECK_RATE=0.90
JIMMS_STRESS_HTTP_ERROR_RATE=0.05
JIMMS_STRESS_P95_THRESHOLD_MS=180000
JIMMS_STRESS_P99_THRESHOLD_MS=240000
JIMMS_STRESS_PER_ENDPOINT_P95_THRESHOLD_MS=180000
