JIMMS_FE_BASE_URL=http://jimms-fe-performance-jimms-v2.apps.ocdev.jasamarga.co.id
JIMMS_API_BASE_URL=https://api-gateway.jasamarga.co.id/dev/jimms-pavement/api
JIMMS_API_KEY=
JIMMS_ACCESS_TOKEN=
JIMMS_USERNAME=
JIMMS_PASSWORD=

JIMMS_REGULAR_INSPECTION_STATUS_ID=27
JIMMS_LIST_PAGE=1
JIMMS_LIST_PER_PAGE=5
JIMMS_DOWNLOAD_INSPECTION_IDS=
JIMMS_DOWNLOAD_ROW_STRATEGY=rotate

JIMMS_DOWNLOAD_ALL_ARCHIVE=true
JIMMS_DOWNLOAD_CHECK_FORM_JSA=true
JIMMS_DOWNLOAD_CHECK_FORM_PERSIAPAN=true
JIMMS_DOWNLOAD_CHECK_DATA_ADMINISTRASI=true
JIMMS_DOWNLOAD_CHECK_DATA_INSPEKSI=true
JIMMS_DOWNLOAD_CHECK_DOKUMENTASI=true
JIMMS_DOWNLOAD_CHECK_STRIPMAP_INSPEKSI=true
JIMMS_DOWNLOAD_CHECK_STRIPMAP_PENANGANAN=true
JIMMS_DOWNLOAD_CHECK_DATA_PENANGANAN=true

JIMMS_DOWNLOAD_PROGRESS_TIMEOUT=80s
JIMMS_DOWNLOAD_PROGRESS_ATTEMPTS=60
JIMMS_SAVE_DOWNLOADED_ZIP=false

K6_REPORT_DIR=./test-results/reports/k6

JIMMS_SMOKE_EXECUTOR=shared-iterations
JIMMS_SMOKE_VUS=1
JIMMS_SMOKE_ITERATIONS=1
JIMMS_SMOKE_MAX_DURATION=5m
JIMMS_SMOKE_THINK_TIME_SECONDS=0

JIMMS_EXECUTOR=shared-iterations
JIMMS_TARGET_VUS=5
JIMMS_VUS=5
JIMMS_ITERATIONS=20
JIMMS_DURATION=2m
JIMMS_MAX_DURATION=20m
JIMMS_RAMP_UP=30s
JIMMS_HOLD=2m
JIMMS_RAMP_DOWN=30s
JIMMS_GRACEFUL_RAMP_DOWN=30s
JIMMS_THINK_TIME_SECONDS=1

JIMMS_CHECK_RATE=1
JIMMS_HTTP_ERROR_RATE=0
JIMMS_P95_THRESHOLD_MS=3600000
JIMMS_P99_THRESHOLD_MS=3600000
JIMMS_PER_ENDPOINT_P95_THRESHOLD_MS=3600000
